.benefits {
    padding: 120px 0;
    position: relative;

    &::after {
        content: "II";
        left: calc(50% + 555px);
        transform: translate(-50%, 0);
        @include decorNumber;
    }

    &-row {
        display: flex;
        column-gap: 70px;
        
        &-item {
            text-align: center;
    
            &-img {
                margin-bottom: 53px;
            }
    
            &-text {
                font-size: 20px;
                line-height: 1.35;
                font-family: $font-secondary;
                font-weight: 300;
            }
        }
    }
}

